div.a {
    max-width: 1700px;
    margin: 0 auto 
}
nav.a {
    text-align: center;
    color:#2A7378
}
nav a:hover {
    background-color:#0da4af
    color:black
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color:rgb(255, 255, 255)
}
header {
    background-color:#2A7378
}
.book, .join {
    background-color:rgb(156, 240, 243)
    color:black
}
.book:hover, .join:hover {
    background-color:rgb(199, 253, 255)
    color:black
}
#background {
    background-color:#FBB657
}
.msg {
    background-color:rgb(179, 225, 226)
}
footer {
    background-color:rgb(179, 225, 226)
    color:#FBB657
}
.home-title {
    color:rgb(255, 143, 62)
}
h4 {
    color:black
}
.msg h2 {
    color:#0c4044
}
.msg p {
    color:black
}
footer a {
    color:#0c4044
}
footer a:hover {
    color:black
}