div.a {
    max-width: 1600px;
    margin: 0 auto 
}
nav.a {
    text-align: center;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color:rgb(199, 253, 255)
}
header {
    background-color:rgb(255, 183, 74)
}
nav a:hover {
    background-color:rgb(131, 219, 219)
}
.book, .join {
    background-color:rgb(215, 229, 250)
}
.book:hover, .join:hover {
    background-color:rgb(255, 116, 61)
}
#background {
    background-color:rgb(255, 196, 173)
}
.msg {
    background-color:darkturquoise
}
footer {
    background-color:rgb(24, 82, 63)
}