div.a {
    max-width: 1600px;
    margin: 0 auto 
}
nav.a {
    text-align: center;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color:rgb(199, 253, 255)
}
header {
    background-color:#2A7378
}
nav a:hover {
    background-color:#0da4af
}
.book, .join {
    background-color:rgb(156, 240, 243)
}
.book:hover, .join:hover {
    background-color:rgb(255, 116, 61)
}
#background {
    background-color:#FBB657
}
.msg {
    background-color:rgb(179, 225, 226)
}
footer {
    background-color:rgb(179, 225, 226)
}